{% extends "/frontoffice/layout.html.twig" %}

{% block title %}Centre de santé l'Étoile | Activités{% endblock %}

{% block content %}

    <section class="container presentation">

        <div class="container maxWidth" style="margin-bottom:25px;">

            <div>

                <h5 class="colorTitle">{{ showActivites.activite|raw }}</h5> 
                <hr/>
                <p>{{ showActivites.description|raw }}</p>

            </div>

        </div>
        <div class="container maxWidth" style="margin-bottom:25px;">

            <div>

                <h5 class="colorTitle">Liste des {{ showActivites.titre|raw }} :</h5> 
                <hr/>
                <ul style="padding-left:20px;">
                {% for professionnel in professionnels %}
                <li style="margin-bottom:5px;">{{ professionnel.nom|raw }}</li>
                {% endfor %}
                </ul>

            </div>

        </div>

    </section>

{%  endblock %}
