{% extends "/frontoffice/layout.html.twig" %}

{% block title %}Centre de santé l'Étoile | Activités{% endblock %}

{% block content %}

    <section class="container presentation">

        <div class="maxWidth" style="margin-bottom:25px;">

            <div>

                <h5 class="colorTitle">{{ showActivites.activite|raw }}</h5> 
                <hr/>
                <p style="color:rgb(100,100,100)!important;">{{ showActivites.description|raw }}</p>

            </div>

        </div>
        <div class="maxWidth" style="margin-bottom:25px;">

            <div>

                <h5 class="colorTitle">Liste des {{ showActivites.titre|raw }} :</h5> 
                <hr/>
                {% for professionnel in professionnels %}
                <p class="colorTitle">- {{ professionnel.nom|raw }}</p>
                {% endfor %}

            </div>

        </div>

    </section>

{%  endblock %}
