{% extends "/frontoffice/layout.html.twig" %}

{% block content %}

<section class="container presentation">

    <div class="forbidden maxWidth" style="margin-bottom:25px;">

        
            <h5 class="colorTitle text-center">Accès interdit</h5> 


    </div>

</section>

{%  endblock %}
