{% extends "/frontoffice/layout.html.twig" %}

{% block title %}Centre de santé l'Étoile | Accueil{% endblock %}

{% block content %}

<section class="professionnels pad padBottom">
    <div class="container">
        <div class="maxWidth container">
        <h5 class="text-center animated fadeIn slow wow bienvenue"><span style="color:rgb(105, 208, 79);">Bienvenue</span> au Centre de Santé l'Étoile !</h5>
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade slide animated fadeIn slow wow" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="position:relative;top:10px;"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" style="position:relative;top:10px;"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" style="position:relative;top:10px;"></li>
                </ol>
                <div class="carousel-inner" style="border-radius:5px;font-family:sans-serif;">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="images/santeTous.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block descriptif">
                            <h5 style="font-size:19px;">Le centre de santé l'Étoile</h5>
                            <p>Un établissement médical visant <span style="color:rgb(123,223, 94);font-family:RobotoMedium;">la santé pour tous</span></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="images/accompagnement.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block descriptif">
                            <h5 style="font-size:19px;">Organisation des soins</h5>
                            <p>Un accompagnement et <span style="color:rgb(123,223, 94);font-family:RobotoMedium;">une prise en charge innovante</span> pour le patient</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="images/projetSoin.jpg" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block descriptif">
                            <h5 style="font-size:19px;">Projet de soin</h5>
                            <p>Découvrez le <span style="color:rgb(123,223, 94);font-family:RobotoMedium;">projet de soin</span> du centre de santé dans l'onglet associé</p>
                        </div>
                    </div>
                    <div class="overlayCarousel"></div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span aria-hidden="true"><i class="fas fa-chevron-left" style="font-size:25px;color:white!important;background-color:rgba(100,100,100,0.6);padding-left:12px;padding-right:12px;padding-bottom:8px;padding-top:8px;border-radius:50%;"></i></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span aria-hidden="true"><i class="fas fa-chevron-right" style="font-size:25px;color:white!important;background-color:rgba(100,100,100,0.6);padding-left:12px;padding-right:12px;padding-bottom:8px;padding-top:8px;border-radius:50%;"></i></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="infoImportante">
    
    <div class="container">

        <div class="container maxWidth padTop" style="font-family:sans-serif;">
            <h5 class="titleCenter animated fadeIn slow wow" style="color:rgb(105, 208, 79);"><i class="fas fa-exclamation-circle"></i> INFORMATION IMPORTANTE</h5> 
            <hr/>
            <div class="animated fadeIn slow wow">
            {% for encadre in encadres %}
                {{ encadre.contenu|raw }}
            {% endfor %}
            </div>
        </div>

    </div>

</section>

<section class="professionnels">
    <div class="container">
        <div class="container maxWidth padTop" style="font-family:sans-serif;">
            <h5 class="colorTitle titleCenter animated fadeIn slow wow">NOS ACTIVITÉS</h5>
            <hr>
            <div class="container containerActivites">
                {% for activite in activites %}
                <a style="text-decoration: none;" href="index.php?action=activites&id={{ activite.id }}" class="rounded animated fadeIn slow wow">
                    <div class="activitesIndex rounded">
                        {% if activite.photo == null %}
                            <img src="images/activiteDefault.jpg" alt="photo" style="width:100%;height:100%;object-fit:cover;" class="rounded"/>
                        {% else %}
                            <img src="images/{{ activite.photo }}" alt="photo" style="width:100%;height:100%;object-fit:cover;" class="rounded"/>
                        {% endif %}
        
                        <p style="font-family:RobotoMedium;position:absolute;background-color:rgba(255,255,255,0.95);padding:10px;z-index:500;box-shadow: 0px 0px 5px rgba(100, 100, 100,0.3);" class="rounded texteImg colorLinkTwo border border-muted">{{ activite.activite }}</p>
                        <div class="overlay rounded"></div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="recrutement">
    
    <div class="container">
        <div class="container maxWidth padTop" style="font-family:sans-serif;">
            <h5 class="colorTitle titleCenter animated fadeIn slow wow">NOUS RECRUTONS</h5>
            <hr>
            <div class="animated fadeIn slow wow">
            <p>Vous êtes un professionnel de santé désireux de travailler au sein du centre de santé l'Étoile ?</p>
            <p>Nous sommes à votre disposition pour toute information complémentaire concernant l'intégration du centre.</p>
            <p>Merci de nous laisser vos coordonnées ainsi que votre activité via <a href="index.php?action=rejoindre" class="colorLink">notre formulaire</a>, afin que nous puissions entrer en contact.</p>
            </div>  
        </div>
    </div>

</section>

{%  endblock %}


