<!doctype html>
<html lang="fr">
  
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>{% block title %}Centre de santé l'Étoile{% endblock %}</title>
    <link rel="icon" type="image/png" href="/images/miniature.png" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    
    <script src="https://cdn.tiny.cloud/1/ztpdey7r3pk9mfbio8d0phcfh7uymugq03n8ui70exrnuk9e/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>  
    <script>
        tinymce.init({
        selector: '#myEditor',
        toolbar: 'code formatpainter pageembed permanentpen',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        });
    </script>
    <script src="https://kit.fontawesome.com/aee95a7a92.js"></script>
  
    </head>
    
    <body class="body">

        <nav class="nav">
                <div class="title">
                    <a class="headerNav" style="color:rgb(100, 203, 74);" href="index.php?action=index">Centre de Santé l'Étoile</a>
                </div>
                <div class="menuResponsive">
                    <div class="responsiveMenu">
                        <button type="button" style="padding:8px;background-color:rgb(105, 208, 79)!important;margin-right:20px!important;box-shadow:0px 0px 4px rgba(100,100,100,0.3)!important;" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                                    Prendre rendez-vous
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title" id="exampleModalLabel" style="font-size:17px;"><i class="fas fa-question-circle" style='margin-right:10px;'></i> Prise de rendez-vous</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="font-family:sans-serif;">

                                        <p>La prise de rendez-vous s'effectue de deux manières :</p>
                                        <ul>
                                            <li style="margin-bottom:10px;">Par téléphone au 04.76.62.27.95.</li>
                                            <li>En ligne via le site <a class="colorLink" href="https://www.ubiclic.com/">Ubiclic</a> ou dans l'onglet "Nos Activités" pour chaque professionnel.</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" style="box-shadow:0px 0px 4px rgb(100,100,100,0.7)!important;" data-dismiss="modal">Fermer la fênetre</button>
                                    </div>
                                        
                                </div>
                            </div>
                        </div>
                        <label for="checkBox" class="label" style="padding:10px;"><i class="fas fa-bars"></i><span style="display:none;">text</span></label>
                    </div>
                    <input type="checkbox" class="checkBox" id="checkBox">
                    <div class="listeBtn">
                            <a class="btnMenu accueilResponsive" href="index.php?action=index">ACCUEIL <i class="fas fa-home" style="margin-left:5px;margin-top:2px;"></i></a>
                            <div class="dropDown">      
                                <label for="check" class="labelDeux" style="margin:0px;width:100%;"><span class="btnDropdown">LE CENTRE DE SANTÉ<i style="margin-left:10px;" class="fas fa-caret-down"></i></span></label>
                                <input type="checkbox" class="check" id="check">
                                <div class="dropdown-child">
                                    <a href="index.php?action=presentation">Présentation</a>
                                    <a href="index.php?action=projetSoin">Projet de soins</a>
                                    <a href="index.php?action=partenaires" style="border:none;">Nos partenaires</a>
                                </div>
                            </div>
                            <div class="dropDown">
                                <label for="checking" class="labelDeux" style="margin:0px;width:100%;"><span class="btnDropdown">NOS ACTIVITÉS<i style="margin-left:10px;" class="fas fa-caret-down"></i></span></label>
                                <input type="checkbox" class="checking" id="checking">
                                <div class="dropdown-child-activite">
                                {% for activite in activites %}
                                    <a href="index.php?action=activites&id={{ activite.id }}">{{ activite.activite }}</a>
                                {% endfor %}
                                {% for lastActivit in lastActivite %}
         
                                    <a style="border:none;" href="index.php?action=activites&id={{ lastActivit.id }}">{{ lastActivit.activite }}</a>
                                    
                                {% endfor %}
                                </div>
                            </div>
                            <a class="btnMenu" href="index.php?action=rejoindre">NOUS REJOINDRE</a>
                            <a class="btnMenu" href="index.php?action=contact">CONTACT</a>
                    </div>
                </div>
        </nav>

        <main style="padding-top:50px;display:flex;flex-direction:column;align-items:center;">

            {% block content %}{% endblock %}

        </main>

        <footer class="footer">

            <div class="container blocFooter">
                <div>
                    <img src="/images/logo.png" alt="logo" class="logoFooter">
                    <p>4 avenue du 8 mai 1945</p>
                    <p>38400, Saint Martin d'Hères</p>
                    <a href="index.php?action=contact" class="lienFooter"><p>Plus d'informations</p></a>
                </div>
            </div>
            <div class="container blocFooter">
                <div>
                    <p class="titlesFooter">Accès rapides</p>
                    <a href="index.php?action=presentation" class="lienFooter"><p>Présentation</p></a>
                    <a href="index.php?action=partenaires" class="lienFooter"><p>Nos partenaires</p></a>
                    <a href="index.php?action=projetSoin" class="lienFooter"><p>Projet de soins</p></a>
                    <a href="index.php?action=rejoindre" class="lienFooter"><p>Nous rejoindre</p></a>
                </div>
            </div>
            <div class="container blocFooter">
                <div>
                    <p class="titlesFooter">Partenaires</p>
                    <a href="index.php?action=partenaires"><img src="images/partenaire.png" alt="partenaires" class="imgPartenaires"></a>
                </div>
            </div>

        </footer>
        
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
        <script src="/js/Validation.js"></script>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
        <script src="/js/Map.js"></script>
        <script src="/js/Transport.js"></script>
        <script src="/js/Time.js"></script>
        <script src="/js/Animation.js"></script>

    </body> 

</html>

