{% extends "/frontoffice/layout2.html.twig" %}

{% block title %}Centre de santé l'Étoile | Login{% endblock %}

{% block content %}
<div class="container starter-template containerDefaultLogin">
    <form class="rounded shadow-sm p-3 mb-5 bg-white text-secondary text-center border border-muted" method="post">
        <input type="hidden" name="token" id="token" value="{{ token|raw }}"/>
        <div class="text-left">
        {{ forms.input('username','login')|raw }}
        {{ forms.password('password')|raw }}
        </div>
        <button class="btn btn-success text-center" style="padding:10px;background-color:rgb(105, 208, 79)!important;margin-right:20px!important;box-shadow:0px 0px 4px rgba(100,100,100,0.3)!important;">Se connecter</button>
        {% if error == true %}
            <div class="alert alert-danger" style="margin-top:15px;">Identifiants incorrects</div>
        {% endif %}
        {% if tokenError == true %}
            <div class="alert alert-danger text-center" style="margin-top:15px">Token de sécurité périmé !</div>
        {% endif %}
    </form>
</div>
{%  endblock %}