{% extends "/frontoffice/layout.html.twig" %}

{% block title %}Centre de santé l'Étoile | Partenaires{% endblock %}

{% block content %}

<section class="presentation" style="padding-left:25px;padding-right:25px;background-color:rgb(245,245,245);border-right:1px solid rgb(220,220,220);border-left:1px solid rgb(220,220,220);">

    <div class="nousContacter container maxWidth" style="margin-bottom:25px;">

        <div>

            <h5 class="colorTitle">Partenaires</h5> 
            <hr/>
            {% for partenaire in partenaires %}
                {{ partenaire.contenu|raw }}
            {% endfor %}

        </div>

        <div class="listePartenaires">

            <img src="/images/ars.png" alt="ars">
            <img src="/images/caf.jpg" alt="caf">
            <img src="/images/cget.png" alt="cget">
            <img src="/images/cpam.png" alt="cpam">
            <img src="/images/isere.png" alt="isere">
            <img src="/images/laRegion.png" alt="ars">
            <img src="/images/metropole.png" alt="metropole">

        </div>

    </div>   

</section>

{%  endblock %}

