{% extends "/frontoffice/layout.html.twig" %}

{% block title %}Présentation | Centre de santé l'Étoile{% endblock %}

{% block content %}

<section class="presentation" style="padding-left:25px;padding-right:25px;background-color:rgb(245,245,245);border-right:1px solid rgb(220,220,220);border-left:1px solid rgb(220,220,220);">

    <div class="nousContacter container" style="margin-bottom:25px;">

        <div>

            <h5 class="colorTitle"><i class="fas fa-clipboard" style="margin-right:7px;"></i> Présentation</h5> 
            <hr/>
            {% for pres in presentation %}
                {{ pres.contenu|raw }}
            {% endfor %}

        </div>

    </div>   

</section>

{%  endblock %}

