{% extends "/frontoffice/layout.html.twig" %}

{% block content %}

<section class="container presentation">

    <div class="nousContacter maxWidth" style="margin-bottom:25px;">

        <div>

            <h5 class="colorTitle">Présentation</h5> 
            <hr/>
            {% for pres in presentation %}
                <p>{{ pres.contenu|raw }}</p>
            {% endfor %}

        </div>

    </div>   

</section>

{%  endblock %}

