{% extends "/frontoffice/layout.html.twig" %}

{% block title %}Centre de santé l'Étoile | Nous rejoindre{% endblock %}

{% block content %}

<section class="container presentation">

    <div class="maxWidth">
        <div style="margin-bottom:50px;">
            <h5 class="colorTitle">Nous rejoindre</h5>
            <hr/>
            <p>Le centre de santé l'Étoile regroupe plusieurs métiers nécessaires à son fonctionnement :</p>
            <p>
                <li>des métiers de la santé : personnels soignants médicaux et paramédicaux ;</li>
                <li>des métiers de l’accueil en établissement de santé : secrétaires médicales ;</li>
            </p>
            <p>N’hésitez pas à nous transmettre votre candidature spontanée à l’attention du directeur du centre de santé l'Étoile :</p>
            <p>4 avenue du 8 mai 1945, 38400 Saint Martin d'Hères ou via le formulaire ci-dessous</p>
        </div>
        <div>
            
            <h5 class="colorTitle">Formulaire de contact</h5>
            <hr/>
            <form class="bg-white text-secondary" method="post">
                
                <input type="hidden" name="token" id="token" value=""/>
                {{ forms.input('nom')|raw }}
                {{ forms.input('email')|raw }}
                {{ forms.input('objet')|raw }}
                {{ forms.textArea('message')|raw }}
                <button class="btn btn-success" style="margin-top:10px">Envoyer mon message</button>
                {% if error == true %}
                    <div class="alert alert-danger text-center" style="margin-top:15px">Votre nom ne peut contenir plus de 25 caractères !</div>
                {% endif %}
                {% if errors == true %}
                    <div class="alert alert-danger text-center" style="margin-top:15px">Tous les champs doivent être complétés !</div>
                {% endif %}
                {% if nameError == true %}
                    <div class="alert alert-danger text-center" style="margin-top:15px">Votre nom doit être composé uniquement de lettres majuscules ou minuscules, de tirets et d'espaces.</div>
                {% endif %}
                {% if result == true %}
                    <div class="alert alert-success text-center" style="margin-top:15px">Message bien posté !</div>
                {% endif %}
                
            </form>

        </div>
    </div>

</section>

{%  endblock %}
