{% extends "/backoffice/layout.html.twig" %}

{% block title %}Administration | Modifier page partenaires{% endblock %}

{% block content %}

    <div class="card-body" style="padding-top:0px!important;padding-bottom:0px!important;">
    <h4 class="colorTitle">Modification de la page "Partenaires"</h4>
    <hr/>
        <form method="post">

            <input type="hidden" name="token" id="token" value="{{ token|raw }}"/>
            {{ form.textAreaEditorContenu('contenu')|raw }}
            
            {% if error == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Les champs sont vides !</div>
            {% endif %}
            {% if result == true %}
                <div class="alert alert-success text-center" style="margin-top:15px">Page modifiée !</div>
            {% endif %}
            {% if tokenError == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Token de sécurité périmé !</div>
            {% endif %}
            
            <button class="btn btn-primary" style="margin-top:10px;">Modifier la page</button>
            <a class="btn btn-outline-secondary" style="margin-top:10px;" href="index.php?action=pagesManager">Retour à la liste</a>

        </form>
    </div>

{%  endblock %}