{% extends "/backoffice/layout.html.twig" %}

{% block title %}Administration | Modifier activité{% endblock %}

{% block content %}

    <div class="card-body" style="padding-top:0px!important;padding-bottom:0px!important;">
    <h4 class="colorTitle">Modifier une activité</h4>
    <hr/>
        <form method="post" style="margin-top:20px;">

            <input type="hidden" name="token" id="token" value="{{ token|raw }}"/>
            {{ form.inputActivite('activite')|raw }}
            {{ form.inputTitre('titre')|raw }}
            {{ form.textAreaEditor('description')|raw }}

            {% if result %}
                <div class="alert alert-success text-center" style="margin-top:15px">Modifications sauvegardées !</div>
            {% endif %}
            {% if tokenError == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Token de sécurité périmé !</div>
            {% endif %}
            
            <button class="btn btn-primary" style="margin-top:10px;">Sauvegarder</button>
            <a class="btn btn-outline-secondary" style="margin-top:10px;" href="index.php?action=activitesManager">Retour à la liste</a>

        </form>
    </div>

{%  endblock %}