<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <title>Administration | Centre de santé l'Étoile</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/aee95a7a92.js"></script>
    <script src="https://cdn.tiny.cloud/1/ztpdey7r3pk9mfbio8d0phcfh7uymugq03n8ui70exrnuk9e/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>  
    <script>
        tinymce.init({
        selector: '#myEditor',
        toolbar: 'code formatpainter pageembed permanentpen',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        });
    </script>

  </head>
  
  <body>
    <nav class="navbar navbar-expand-md navbar-default">

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="?action=indexAdmin" style="font-weight:bold;">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?action=activitesManager">Activités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?action=professionnelsManager">Professionnels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?action=messagesManager">Messages</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="?action=index">Retour au site</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?action=profil&id={{ userId|raw }}">Mon profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?action=deconnecter">Se déconnecter</a>
                </li>
                </li>
            </ul>
        </div>
        </nav>

        <header>

            <div class="container">

                <div class="row">
                
                    <div class="col-md-10">

                        <h2><i class="fas fa-cog" style="margin-right:15px;"></i>Dashboard <small>Gérez votre site !</small></h2>

                    </div>
                    <div class="col-md-2">

                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Créer du contenu
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="?action=addActivite">Ajouter une activité</a>
                                <a class="dropdown-item" href="?action=addProfessionnel">Ajouter un professionnel</a>
                            </div>
                        </div>
                    
                    </div>
                
                </div>

            </div>

        </header>

        <section id="main">

            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                        <div class="list-group">
                            <a href="?action=indexAdmin" class="list-group-item list-group-item-action active" style="background-color:rgb(100,100,100);">
                                <i class="fas fa-cog"></i> Dashboard
                            </a>
                            <a href="?action=activitesManager" class="list-group-item list-group-item-action"><i class="fas fa-stethoscope" style="margin-right:10px;"></i>Activités <span class="badge badge-secondary">{% for count in countA %}{{ count.nb|raw }}{% endfor %}</span></a>
                            <a href="?action=professionnelsManager" class="list-group-item list-group-item-action"><i class="fas fa-user-alt" style="margin-right:10px;"></i>Professionnels <span class="badge badge-secondary">{% for count in countP %}{{ count.nb|raw }}{% endfor %}</span></a>
                            <a href="?action=messagesManager" class="list-group-item list-group-item-action"><i class="fas fa-envelope" style="margin-right:10px;"></i>Messages <span class="badge badge-secondary">{% for count in countM %}{{ count.nb|raw }}{% endfor %}</span></a>
                             <a href="?action=pagesManager" class="list-group-item list-group-item-action"><i class="fas fa-file" style="margin-right:14px;"></i>Modifier les pages </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card card-default" style="margin-bottom:50px;">
                            <div class="card-body">
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      </body>
</html>



