{% extends "/backoffice/layout.html.twig" %}

{% block content %}

    <div class="container starter-template containerDefaultProfil">
        <form class="profil shadow-sm p-3 mb-5 rounded bg-white border border-muted" method="post">

            <h5 class="text-primary" style="margin-bottom:20px;">Modifier mon profil</h5>

            <input type="hidden" name="token" id="token" value="<?=$token;?>"/>
            {{ form.input('Username')|raw }}
            {{ form.password('Password')|raw }}
            {{ form.password('Confirm')|raw }}
            {% if error == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Tous les champs doivent être complétés !</div>
            {% endif %}
            {% if errors == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Mots de passe non identiques !</div>
            {% endif %}
            {% if result == true %}
                <div class="alert alert-success text-center" style="margin-top:15px">Modifications sauvegardées !</div>
            {% endif %}
            <button class="btn btn-primary" style="margin-bottom:15px;margin-top:5px;">Sauvegarder</button>
            <a class="btn btn-outline-primary" href="index.php?action=indexAdmin">Retour page administrateur</a>

        </form>
    </div>

{%  endblock %}