{% extends "/backoffice/layout.html.twig" %}

{% block title %}Administration | Profil{% endblock %}

{% block content %}

    <div class="card-body" style="padding-top:0px!important;padding-bottom:0px!important;">
        <h4 class="colorTitle">Modifier mon profil</h4>
        <hr/>
        <form method="post">

            <input type="hidden" name="token" id="token" value="{{ token|raw }}"/>
            {{ form.inputProfil('Username')|raw }}
            {{ form.passwordProfil('Password')|raw }}
            {{ form.passwordProfil('Confirm')|raw }}
            {% if error == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Tous les champs doivent être complétés !</div>
            {% endif %}
            {% if errors == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Mots de passe non identiques !</div>
            {% endif %}
            {% if result == true %}
                <div class="alert alert-success text-center" style="margin-top:15px">Modifications sauvegardées !</div>
            {% endif %}
            {% if tokenError == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Token de sécurité périmé !</div>
            {% endif %}
            <button class="btn btn-primary" style="margin-top:10px;">Sauvegarder</button>
            <a class="btn btn-outline-secondary" style="margin-top:10px;" href="index.php?action=indexAdmin">Retour accueil</a>

        </form>
    </div>

{%  endblock %}