{% extends "/backoffice/layout.html.twig" %}

{% block title %}Administration | Profil{% endblock %}

{% block content %}

    <h4 class="colorTitle">Modifier mon profil</h4>
    <div class="card-body">
        <form method="post">

            <input type="hidden" name="token" id="token" value="<?=$token;?>"/>
            {{ form.input('Username')|raw }}
            {{ form.password('Password')|raw }}
            {{ form.password('Confirm')|raw }}
            {% if error == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Tous les champs doivent être complétés !</div>
            {% endif %}
            {% if errors == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Mots de passe non identiques !</div>
            {% endif %}
            {% if result == true %}
                <div class="alert alert-success text-center" style="margin-top:15px">Modifications sauvegardées !</div>
            {% endif %}
            <button class="btn btn-primary" style="margin-top:10px;">Sauvegarder</button>
            <a class="btn btn-outline-primary" style="margin-top:10px;" href="index.php?action=indexAdmin">Retour page administrateur</a>

        </form>
    </div>

{%  endblock %}